Exercise 2: Create markdown cell with title of the notebook

# 2) Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

### 3) In this notebook, exercises of "tools for data science" of coursera are done.

#### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Data science languages 
- Data science common libraries 
- Data science tools 
- python arithmetic expressions 
- Data science exercises

Exercise 4 - Create a markdown cell to list data science languages

### 4) The most popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. JavaScript

Exercise 5 - Create a markdown cell to list data science libraries

### 5) Some of the most commonly used libraries for data science are : 
1. Pandas
2. Numpy 
3. Matplotlib
4. ...

Exercise 6 - Create a markdown cell with a table of Data Science tools

### 6) Some data science tools include :

|Data science tools|
-----
|jupyterlab| 
|Rstudio|
|VisualStudioCode|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### 7) Below are a few examples of evaluating arithmetic expressions in Python :
1. "+" : To add two numbers, use the + operator. For example, 2 + 3 evaluates to 5.
2. "-" : To subtract two numbers, use the - operator. For example, 10 - 7 evaluates to 3.
3. "*" : To multiply two numbers, use the * operator. For example, 4 * 5 evaluates to 20.
4. "/" : To divide two numbers, use the / operator. For example, 15 / 3 evaluates to 5.0. Note that the result is a floating-point number, even if the operands are integers.

Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
# 8) This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [5]:
# 9)This will convert 200 minutes to hours by diving by 60
print(int(200/60))

3

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author :
Atena Haddad